body{
    font-family: 'Yeseva One', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.h2_class{
    text-align: center;
    font-size: 35px;
}
.Orange_Color{
    color: rgb(240, 192, 102);
}
.Flex_Class{
    display: flex;
}
.First_Section{
    width: 50%;
}
.First_Section img{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 700px;
    top: -50px;
}
/* Third & Fourth Section */
.Third_Section{
    width: 50%;
}
.Third_Section img{
    width: 400px;
    margin-bottom: 15%;
}
.Button_Class{
    text-decoration: none;
    background-color: #f57777;
    color: black;
    font-weight: 300;
    border-radius: 6px;
    padding: 10px 20px;
}
.Link_Class{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.Border_Left{
    border-left: 5px solid #f57777;
    border-radius: 5px;
    padding-left: 5px;
}
#Box_1{
    width: 33%;
    margin-right: 1%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-bottom: 3%;
    background-color: rgb(197, 233, 233);
    border-radius: 30px;
}
/* For Second Section */
#Box_1 img{
    width: 35%;
}
#Box_2{
    width: 33%;
    margin-right: 1%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-bottom: 3%;
    background-color: rgb(245, 218, 168);
    border-radius: 30px;
}
#Box_2 img{
    width: 35%;
}
#Box_3{
    width: 34%;
    margin-right: 1%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-bottom: 3%;
    background-color: rgb(241, 163, 163);
    border-radius: 30px;
}
#Box_3 img{
    width: 35%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    /* border-radius: 5px; */
}
.Box_Shadow{
    width: 50%;
    height: 300px;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 8%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 40px rgb(231, 182, 90);
    border-radius: 10px;
}